# Unreal generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

# IDE / project files
.vs/
.vscode/
.idea/
*.sln
*.slnx
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Compiled output
*.pdb
*.dll
*.exe
